/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e9f3fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.icon{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;

}

h1 {
  font-size: 4.5rem;
  color: #1c1c1c;
}

.subtitle {
  color: #6b6b6b;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.stopwatch-box {
  background: #fff;
  padding: 80px 100px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.time-display {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 25px;
  color: #0d1b2a;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 22px;
  border-radius: 10px;
  border: none;
  font-size: 2.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #0d6efd;
  color: #fff;
}

.btn.secondary {
  background-color: #f1f3f5;
  color: #333;
}

.btn:hover {
  transform: scale(1.05);
}

.lap-list {
  list-style: none;
  margin-top: 15px;
  font-size: 2.1rem;
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
}

.lap-list li {
  background-color: #f8f9fa;
  padding: 8px 10px;
  border-radius: 8px;
  margin: 15px auto;
  width: 80%;
  font-weight: 500;
  color: #333;
  display: flex;
  justify-content: space-between;
}
